<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
  <link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
  <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
  <link rel="stylesheet" href="app.css" />
  <script src="app.js"></script>
</head>

<body ng-controller="ListController as list">
<div role="main" class="container theme-showcase">
  <div class="" style="margin-top:90px;">
    <div class="col-lg-8">
      <div class="page-header">
        <h2 id="tables">Available weather cams AngularJs</h2>
      </div>
      <div class="bs-component">
        <table class="table table-striped table-hover">
          <thead>
          <form class="form-inline">
            <div class="form-group">
              <label >Search</label>
              <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
          </form>
          <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>URL</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in filteredItems|filter:search">
            <td> {{item.name}} </td>
            <td> {{item.latitude}} </td>
            <td> {{item.longitude}} </td>
            <td> <a href="{{item.url}}">{{item.url}}</a> </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div data-pagination="" data-num-pages="numOfPages()"
           data-current-page="curPage" data-max-size="maxSize"
           data-boundary-links="true"></div>
    </div>
  </div>
</div>
</body>
</html>